.email-tabs-container {
  margin: 20px;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tab-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.tab-button.active {
  background-color: black;
  /* Active tab color */
  color: white;
}

.tab-button:hover {
  background-color: #ddd;
}

.tab-content {
  padding: 20px;
  background-color: #fff;
}