/* Main container */
.signin-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  box-sizing: border-box;
}

/* Left Side - Quick Links */
.left-content {
  flex: 1;
  margin-right: 2rem;
  display: flex;
  margin: 0 2rem;
  justify-content: space-around;
  align-items: flex-start;
}

.left-content h2,
.left-content h3 {
  color: #333;
}

.left-content ul {
  list-style: none;
  padding: 0;
}

.left-content ul li {
  margin-bottom: 1rem;
  color: #555;
}

.new-customer {
  padding: 0 2rem;

}

.create-account-button {
  color: black;
  background-color: white;
  padding: 0.5rem 1rem;
  border: none;
  border: 1px solid black;
  cursor: pointer;
}

.create-account-button:hover {
  background-color: black;
  color: white;
}

/* Right Side - Registered Users */
.right-content {
  flex: 1;
  margin-top: 0;
  margin-left: 2rem;
}

.right-content h2 {
  color: #333;
}


.signin-button {
  background-color: black;
  ;
  color: white;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border: none;
  cursor: pointer;
}

.signin-button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .signin-container {
    flex-direction: column;
    align-items: center;
  }

  .left-content,
  .right-content {
    margin: 0;
    width: 100%;
  }

  .left-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
  }

  .right-content {
    margin-top: 2rem;
  }
}

@media (max-width: 480px) {
  .signin-container {
    padding: 1rem;
  }

  .signin-form input,
  .signin-button,
  .create-account-button {
    width: 100%;
  }
}