.home_card-slider {
  margin: 5rem 5rem;
  overflow: hidden;
  width: 92%;
}

.home_slider-wrapper {
  position: relative;

  display: flex;

  align-items: center;
  overflow: hidden;
}

.home_cards-container {
  display: flex;
  transition: transform 0.3s ease-in-out;
  width: fit-content;
  /* Ensures the container shrinks to fit content */
}

.home_card {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  margin-right: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 0 0 300px;
  /* Sets the width of the card */
}

.home_card h1 {
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.home_card p {
  font-size: 1rem;
  margin-bottom: 30px;
}

.home_stars {
  display: flex;
  justify-content: center;
}

.home_star {
  color: #04ddb2;
  margin: 0 2px;
}

/* Arrow buttons */
.home_arrow {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  font-size: 1.5rem;
}

.home_arrow_left {
  left: 0;
  border-radius: 50%;
  padding: 10px;
  background-color: #fff;
}

.home_arrow_right {

  border-radius: 50%;
  padding: 10px;
  background-color: #fff;
}

/* Responsive design */
@media (max-width: 1200px) {
  .home_card {
    flex: 0 0 250px;
    /* Adjusts card width for smaller screens */
  }
}

@media (max-width: 992px) {
  .home_card {
    flex: 0 0 220px;
  }
}

@media (max-width: 768px) {
  .home_card {
    flex: 0 0 200px;
  }
}

@media (max-width: 576px) {
  .home_card-slider {
    margin: 3rem 2rem;
    /* Adjusts margin for small screens */
  }

  .home_card {
    flex: 0 0 330px;
  }

  .home_cards-container {
    flex-direction: column;
    gap: 2rem;
  }

  .home_arrow {
    font-size: 1.2rem;
    display: none;
  }
}

@media (max-width: 400px) {
  .home_card {
    flex: 0 0 150px;
  }

  .home_card-slider {
    margin: 2rem 1rem;
    /* Adjusts margin for small screens */
  }

  .home_arrow {
    /* padding: 3px; */
    font-size: 1rem;
  }
}