/* Styling for the reviews section */
.reviews-section {
  width: 100%;
  height: 8vh;
  background-color: #e6e8e6;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
}

.reviews-section h6 {
  margin: 0;
  font-size: 1rem;
}

.reviews-section p {
  margin: 0;
  font-size: 0.9rem;
}

.trustpilot-logo {
  margin-left: 10px;
  width: 80px;
  /* Adjust size for smaller devices */
  vertical-align: middle;
}

/* Styling for the email option section */
.email-option-section {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.email-option-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.email-option-content {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: black;
  max-width: 500px;
  /* Optional: Slight background color for better readability */
  padding: 20px;
}

.email-option-content h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.email-option-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 1rem 0;
}

.email-option-content ul li {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

/* Responsive Design */

/* Medium screens (tablets) */
@media screen and (max-width: 768px) {

  .email-option-content {
    max-width: 80%;
    /* margin-top: 50px; */
    left: 0;
    height: auto;
  }

  .email-option-content h1 {
    font-size: 1.75rem;
  }

  .email-option-content ul li {
    font-size: 0.95rem;
  }

  .cta-button {
    font-size: 0.9rem;
    padding: 0.6rem 1.2rem;
  }

  .reviews-section {
    height: auto;
    flex-direction: column;
    margin-top: 20px;
    gap: 3px;
  }

  .trustpilot-logo {
    width: 70px;
  }
}

/* Small screens (mobile devices) */
@media screen and (max-width: 480px) {
  .email-option-section img {
    height: 40%;
    width: 100%;
  }

  .reviews-section {
    flex-direction: column;
  }

  .email-option-content {
    background-color: #e6e8e6;
    top: 70%;
    max-width: 100%;
  }

  .email-option-content h1 {
    font-size: 1.5rem;
  }

  .email-option-content ul li {
    font-size: 0.9rem;
  }

  .cta-button {
    font-size: 0.85rem;
    padding: 0.5rem 1rem;
  }

  .reviews-section {
    gap: 2px;
  }

  .reviews-section p {
    font-size: 0.8rem;
  }

  .trustpilot-logo {
    width: 60px;
  }
}

/* Extra small screens (very small mobile devices) */
@media screen and (max-width: 360px) {
  .email-option-section img {
    height: 50vh;
  }

  .email-option-content {
    max-width: 100%;
    padding: 10px;
  }

  .email-option-content h1 {
    font-size: 1.25rem;
  }

  .email-option-content ul li {
    font-size: 0.8rem;
  }

  .cta-button {
    font-size: 0.75rem;
    padding: 0.4rem 0.8rem;
  }

  .reviews-section {
    padding: 5px;
  }

  .trustpilot-logo {
    width: 50px;
  }
}